*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:visited {
  color: #777;
  text-decoration: none; }

a:hover,
a:active {
  color: #777; }

@keyframes light {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff; }

.header {
  text-transform: capitalize;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight: 700; }
  .header__navbar-list li:hover a {
    color: #fff; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(85, 193, 197, 0.2), rgba(78, 95, 94, 0.2)), url(../img/test3.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .header__navbar {
    width: 100%;
    background-color: #242c2e;
    position: fixed; }
  .header__navbar-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center; }
  .header__navbar-list li {
    list-style: none;
    display: inline-block;
    width: calc(100%/7);
    text-align: center;
    position: relative; }
  .header .navIcon {
    height: 3rem;
    width: auto; }
  .header .underline {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .header .underline:hover {
    box-shadow: 0 6px 0 -4px #fff; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: light 3s ease-out infinite; }
