*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:visited {
  color: #777;
  text-decoration: none; }

a:hover,
a:active {
  color: #777; }

@keyframes light {
  0% {
    opacity: 0.4; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.4; } }

@keyframes letter {
  100% {
    letter-spacing: 3px; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff; }

.header {
  text-transform: capitalize;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight: 700; }
  .header__navbar-list li:hover a {
    color: #ebebeb;
    animation: letter 0.5s ease-in forwards; }

.products {
  color: #242c2e; }
  .products h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4rem; }
  .products p {
    letter-spacing: 2px;
    font-size: 1rem; }

.products {
  position: relative; }
  .products__box1 {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    align-items: center; }
    .products__box1-img {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      overflow: hidden; }
    .products__box1-text {
      padding: 10%;
      flex: 0 1 50%; }
    .products__box1-grid {
      display: flex;
      flex-direction: row;
      width: 100%; }

.img-white {
  background-color: #ebebeb;
  flex: 0 1 50%;
  overflow: hidden; }
  .img-white img {
    display: block;
    width: 100%;
    opacity: 1; }

.img-dark {
  background-color: #242c2e;
  flex: 0 1 50%;
  overflow: hidden; }
  .img-dark img {
    display: block;
    width: 100%;
    opacity: 1; }

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(85, 193, 197, 0.2), rgba(78, 95, 94, 0.2)), url(../img/test3.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .header__navbar {
    width: 100%;
    background-color: #242c2e;
    position: fixed;
    z-index: 100; }
  .header__navbar-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center; }
  .header__navbar-list li {
    list-style: none;
    display: inline-block;
    width: calc(100%/7);
    text-align: center;
    position: relative; }
  .header .navIcon {
    height: 3rem;
    width: auto; }
  .header .underline {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .header .underline:hover {
    box-shadow: 0 6px 0 -4px #ebebeb; }
  .header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    animation: light 3s ease-out infinite; }
