*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

a:link,
a:visited {
  color: #777;
  text-decoration: none; }

a:hover,
a:active {
  color: #777; }

@keyframes light {
  0% {
    opacity: 0.3; }
  50% {
    opacity: .8; }
  100% {
    opacity: 0.3; } }

@keyframes letter {
  100% {
    letter-spacing: 3px; } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #fff; }

.header {
  text-transform: capitalize;
  letter-spacing: .2rem;
  font-size: 1.3rem;
  font-weight: 700; }
  .header__logo h1 {
    font-size: 3.5rem;
    line-height: 1.1; }
    .header__logo h1 span {
      font-size: 1rem;
      display: block;
      position: absolute;
      top: 85%; }
  .header__navbar-list li:hover a {
    color: #ebebeb;
    animation: letter 0.3s ease-in forwards; }

.products {
  color: #242c2e; }
  .products h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3rem; }
  .products p {
    letter-spacing: 2px;
    font-size: 1rem; }

.idea {
  color: #242c2e; }
  .idea h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4rem; }
  .idea p {
    letter-spacing: 2px;
    font-size: 1rem; }

.about {
  color: #242c2e; }
  .about h1 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 4rem; }
  .about p {
    letter-spacing: 2px;
    font-size: 1rem; }

.form {
  color: #242c2e;
  text-transform: uppercase; }

.contact__address {
  letter-spacing: 1px;
  line-height: 2; }

.contact__media {
  letter-spacing: 1px;
  line-height: 1.7; }
  .contact__media i {
    font-size: 2.5rem; }

.header {
  height: 100vh;
  background-image: linear-gradient(to top, rgba(235, 235, 235, 0.2), rgba(36, 44, 46, 0.2)), url(../img/background1.jpg);
  background-position: center;
  background-size: cover;
  position: relative; }
  .header__navbar {
    width: 100%;
    background-color: #242c2e;
    position: fixed;
    z-index: 100; }
  .header__navbar-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center; }
  .header__navbar-list li {
    list-style: none;
    display: inline-block;
    width: calc(100%/7);
    text-align: center; }
  .header .navIcon {
    height: 3rem;
    width: auto; }
  .header .underline {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }
  .header .underline:hover {
    box-shadow: 0 6px 0 -4px #fff; }
  .header__logo {
    position: absolute;
    top: 50%;
    right: 10%;
    text-align: left;
    transform: translateY(-50%);
    display: flex;
    align-items: flex-start; }
    .header__logo img {
      animation: light 4s ease-out infinite; }
    .header__logo h1 {
      padding-left: 2rem; }

.products {
  position: relative;
  background-color: #fff; }

.idea {
  background-color: #fff; }

.about {
  background-color: #ebebeb; }

.form {
  background-color: #fff;
  margin-top: 6rem;
  margin-bottom: 14rem; }

.footer {
  background-color: #242c2e; }

.box {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  align-items: center;
  overflow: hidden; }
  .box__text {
    padding: 20% 10% 10% 10%;
    flex: 0 1 50%;
    position: relative; }
    .box__text img {
      display: block;
      position: absolute;
      top: 2%;
      left: 50%;
      transform: translateX(-50%);
      width: 25rem; }
  .box__img {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden; }
    .box__img-white {
      width: 50%;
      overflow: hidden;
      position: relative; }
      .box__img-white h2 {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all ease-in-out 0.8s; }
      .box__img-white:hover h2 {
        opacity: 1; }
      .box__img-white img {
        width: 100%;
        display: block;
        transition: all ease-in-out 0.8s;
        filter: grayscale(1); }
        .box__img-white img:hover {
          transform: scale(1.1);
          filter: grayscale(0); }
    .box__img-dark {
      width: 50%;
      overflow: hidden; }
      .box__img-dark img {
        width: 100%;
        display: block;
        transition: all ease-in-out 0.8s;
        filter: grayscale(1); }
        .box__img-dark img:hover {
          transform: scale(1.1);
          filter: grayscale(0); }
    .box__img-big {
      width: 100%;
      overflow: hidden; }
      .box__img-big img {
        width: 100%;
        display: block; }

.form h1 {
  text-align: center;
  margin-bottom: 8rem; }

.form__btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 20rem;
  background-color: #242c2e;
  color: #fff;
  padding: 2rem 2rem;
  border: none;
  cursor: pointer; }
  .form__btn i {
    padding-left: 1rem; }
  .form__btn:hover {
    opacity: .9; }

.input {
  margin: 4rem 20rem;
  display: flex; }
  .input__container {
    display: flex;
    width: 100%; }
    .input__container-distance {
      margin-left: 4rem; }
  .input__field {
    flex: 1;
    outline: none;
    padding-left: 1rem; }
    .input__field:focus {
      border: 2px solid #242c2e; }
  .input__field-full {
    padding-left: 1rem;
    padding-top: 1.5rem;
    height: 10rem;
    flex: 1;
    outline: none; }
    .input__field-full:focus {
      border: 2px solid #242c2e; }
  .input__icon {
    background: #242c2e;
    color: #fff;
    min-width: 5rem;
    text-align: center;
    padding: 2rem; }

.contact {
  display: flex;
  justify-content: flex-end;
  padding: 4rem 20rem;
  position: relative; }
  .contact__address {
    flex: 0 1 25%;
    margin-right: 5rem; }
  .contact__media {
    flex: 0 1 30%; }
    .contact__media div {
      align-items: center;
      display: flex; }
      .contact__media div i {
        background: #242c2e;
        color: #fff;
        text-align: center;
        padding: 1rem 2rem 1rem 0; }
  .contact__logo {
    position: absolute;
    top: 25%;
    left: 20%;
    height: 8rem; }
