.header {
    height: 100vh;
    background-image: linear-gradient(
        to top, 
        rgba($color-grey-light, 0.2), 
        rgba($color-grey-extradark, 0.2)), 
    url(../img/background1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    &__navbar {
        width: 100%;
        background-color: $color-grey-extradark;
        position: fixed;
        z-index: 100;
    }
    &__navbar-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    &__navbar-list li {
        list-style: none;
        display: inline-block;
        width: calc(100%/7);
        text-align: center;
    }
    & .navIcon {
        height: 3rem;
        width: auto;
    }
    & .underline {
        padding-top: 1.5rem;  
        padding-bottom: 1.5rem;
    }
    & .underline:hover {
        box-shadow: 0 6px 0 -4px $color-white;
    }
    &__logo {
        position: absolute;
        top: 50%;
        right: 10%;
        text-align: left;
        transform: translateY(-50%);
        display: flex;
        align-items: flex-start;
        & img {
            animation: light 4s ease-out infinite;
        }
        & h1 {
            padding-left: 2rem;
        }
    }
}